{% extends 'djangogramm/base.html' %}

{% block content %}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please, enter your email and password</p>
                            <div class="form-outline form-white mb-4">
                                <form class="m-2" method="POST" novalidate>
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <p>
                                            {% if field.errors %}
                                                <ul class="errorlist">
                                                    {% for error in field.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            {{ field.label_tag }} {{ field }}
                                        </p>
                                    {% endfor %}
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                                </form>
                            </div>
                            <div class="divider d-flex align-items-center my-4">
                                <p class="text-center fw-bold mx-3 mb-0">OR</p>
                            </div>
                            <a class="btn btn-outline-light btn-lg px-5"  href="{% url 'social:begin' 'github' %}" role="button">
                                <i class="fa-brands fa-github" style="color: #808080;"></i> Continue with GitHub
                            </a>
                            <p class="not_register">Don't have an account yet? <a href="{% url 'register' %}">Register</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
