{% extends 'djangogramm/base.html' %}

{% block content %}
<main class="main-delete">
    <div class="post-delete">
        <h2 class="title-delete">Delete Post</h2>

        <form method="POST">
            {% csrf_token %}
            <p class="text-delete">Are you sure that you want to delete the post <br> "{{post.title}}"?</p>
            <div>
                <button class="btn-delete" type="submit">Yes, Delete</button>
                <a class="cancel-delete" href="{% url 'profile' username=post.user_id %}">Cancel</a>
            </div>
        </form>
    </div>
</main>
{% endblock content %}
